{%- if site.giscus and site.giscus.repo and site.giscus.repo_id and site.giscus.category and site.giscus.category_id -%}
<div class="giscus"></div>
<script>
  (function() {
    var theme = localStorage.getItem('theme') === 'dark' ? 'dark' : 'light';

    var s = document.createElement('script');
    s.src = 'https://giscus.app/client.js';
    s.async = true;
    s.crossOrigin = 'anonymous';

    s.setAttribute('data-repo', '{{ site.giscus.repo }}');
    s.setAttribute('data-repo-id', '{{ site.giscus.repo_id }}');
    s.setAttribute('data-category', '{{ site.giscus.category }}');
    s.setAttribute('data-category-id', '{{ site.giscus.category_id }}');
    s.setAttribute('data-mapping', '{{ site.giscus.mapping | default: "pathname" }}');
    s.setAttribute('data-strict', '{{ site.giscus.strict | default: 1 }}');
    s.setAttribute('data-reactions-enabled', '{{ site.giscus.reactions_enabled | default: 1 }}');
    s.setAttribute('data-emit-metadata', '{{ site.giscus.emit_metadata | default: 0 }}');
    s.setAttribute('data-input-position', '{{ site.giscus.input_position | default: "bottom" }}');
    s.setAttribute('data-theme', theme);
    s.setAttribute('data-lang', '{{ page.lang | default: site.giscus.lang | default: "ko" }}');

    document.querySelector('.giscus').appendChild(s);
  })();
</script>
{%- endif -%}
