{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}  
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%- comment -%}Filter out draft posts{%- endcomment -%}
{%-assign filtered_posts = posts | where_exp: "post", "post.draft != true"-%}

{%-if include.limit and filtered_posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if filtered_posts.size > 0 -%}
  <ul data-post-limit="{{ include.limit | default: '' }}">
    {%- for post in filtered_posts -%}
      <li class="post-item" data-lang="{{ post.lang | default: 'ko' }}" data-index="{{ forloop.index }}">
        <!-- <span>{{- post.date | date: site.theme_config.date_format -}}</span> -->
        {%- if post.external_url -%}
          <a href="{{ post.external_url }}" target="_blank">{{ post.title | downcase }}</a>
        {%- else -%}
          <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
  {%- if include.show_more and include.show_more_url and limit_exceeded -%}
    <div class="show-more-container">
      <a href="{{ include.show_more_url }}" class="show-more-link">{{ include.show_more_text | default: "Show more..." }}</a>
    </div>
  {%- endif -%}
{%- endif -%}