{{ define "main" }}

<div class="list-container">

    {{ partial "breadcrumbs.html" . }}

    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ $tagsTermsPage := and (eq .Kind "taxonomy") (eq .Data.Plural "tags") }}

    {{ $paginationSize := 1}}
    {{ if (gt .Site.Params.paginationSize 0) }}
    {{ $paginationSize = .Site.Params.paginationSize }}
    {{ end }}

    {{ if $tagsTermsPage }}
        {{ range .Data.Terms.Alphabetical }}
            {{ partial "tag-entry.html" .Page }}
        {{ end }}
    {{ else }}
        {{ $paginator := .Paginate (.Pages) $paginationSize }}
        {{ range $index, $page := $paginator.Pages }}
            {{ partial "post-entry.html" $page}}
        {{ end }}
        {{ partial "pagination-controls.html" $paginator}}
    {{ end }}

</div>
{{ end }}
